NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/hortifacil
JWT_SECRET=change-me
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:3001
SWAGGER_ENABLED=true
STORE_DEFAULT_TIMEZONE=America/Manaus
SEED_STORE_NAME=HortiFacil Demo
SEED_STORE_SLUG=hortifacil-demo
SEED_STORE_WHATSAPP=5592999999999
SEED_ADMIN_NAME=Administrador
SEED_ADMIN_EMAIL=admin@hortifacil.local
SEED_ADMIN_PASSWORD=change-me-please
SEED_STORE_STREET=Rua das Flores
SEED_STORE_NUMBER=123
SEED_STORE_NEIGHBORHOOD=Centro
SEED_STORE_CITY=Manaus
SEED_STORE_STATE=AM
SEED_STORE_ZIPCODE=69000000
SEED_STORE_COMPLEMENT=

